body {
  background-color: blue;
}
#header {
  margin-bottom: 40px;
}
.portfolio {
  margin-bottom: 0;
  background-color: lemonchiffon;
  padding: 20px 15px 0 15px;
}
section {
  background-color: black;
  color: white;
  text-align: center; 40px ;
}
main {
    background-color: lightgrey;
}
